doctype html 
html 
    head 
    body 
        div 
            |Hello Chat
        div 
            block content 
        div 
            |Best Regards
            br
            | Stodola Nazariy is learning Node js