.reqistration_page {
	padding: 10px;
	.reqistration_page_form {
		padding: 0px 20px;
		display: flex;
		flex-direction: column;
		margin: 100px auto;
		width: 360px;
		height: 500px;
		border-radius: 16px;
		box-shadow: 0px 0px 10px 0px #76777c;
		background: transparent;
		.reqistration_page_form_title {
			margin-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			font-size: 26px;
			font-weight: 900;
			border-bottom: 2px solid #76777c;
			letter-spacing: 2px;
		}

		.reqistration_page_input {
			margin-top: 15px;
			> *,
			input,
			div {
				background: transparent;
				color: #e6e8e9 !important;
			}
			input:-webkit-autofill,
			input:-webkit-autofill:hover,
			input:-webkit-autofill:focus,
			input:-webkit-autofill:active {
				transition: 5000s ease-in-out 0s;
			}
		}
		.reqistration_page_submit {
			margin-top: 20px;
		}

		.sign_up_link {
			margin-top: 10px;
			a {
				font-weight: 500;
			}
		}
	}
}
