.tags_page {
	padding: 10px;
	.tags_page_title {
		//border: 1px solid red;
		padding-left: 10px;
		padding-bottom: 10px;
		box-shadow: 0 4px 3px -2px gray;
		font-weight: 500;
		font-size: 20px;
	}
	.tags_page_list {
		padding: 0px 20px;
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
