.header {
	.header_content {
		height: 40px;
		padding: 0 10px;
		margin: 0 auto;
		max-width: 1200px;
		// display: grid;
		// grid-template-columns: 100px 1fr 170px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		z-index: 3;
		> :first-child {
			margin-top: 2px;
			:nth-child(2) {
				margin-left: 3px;
			}
		}

		.auth_btns {
			.welcome_user {
				padding-top: 5px;
			}
			:last-child {
				margin-left: 10px;
			}
		}
	}
}

.search_panel {
	position: absolute;
	top: 45px;
	width: 1170px;
	font-size: 14px;
	padding: 5px 10px;
	font-weight: 300;
}

@media screen and (max-width: 1200px) {
	.search_panel {
		width: calc(100vw - 35px);
	}
}

.search_panel:focus,
.search_panel:active {
	outline: none;
}

.show_search {
	transition: all 0.3s ease-in-out;
	visibility: visible;
}

.hide_search {
	visibility: hidden;
	display: none;
	top: 5px;
	transition: all 0.3s ease-in-out;
}
