.login_page {
	width: 100vw;
	height: 100vh;
	.login_page_form {
		padding: 0px 20px;
		display: flex;
		flex-direction: column;
		margin: 100px auto;
		width: 360px;
		height: 450px;
		border-radius: 16px;
		box-shadow: 0px 0px 10px 0px #76777c;
		background: transparent;
		.login_page_form_title {
			margin: 20px 0px;
			padding-bottom: 20px;
			text-align: center;
			font-size: 26px;
			font-weight: 900;
			border-bottom: 2px solid #76777c;
			letter-spacing: 2px;
		}
		> :nth-child(2),
		> :nth-child(3) {
			margin-top: 20px;
		}
		.forgot_password_link {
			margin-top: 20px;
		}
		.login_page_form_submit {
			margin-top: 10px;
			text-align: center;
		}
		.sign_up_link {
			margin-top: 10px;
			a {
				font-weight: 500;
			}
		}
	}
}
